<h1>Add a new event</h1>

<p><%- message %></p>

<form id="event" name="event" method="post" action="/events/add">
	<label for="name">Name</label>
	<input id="name" name="name" type="text">
	<button type="submit">Add</button>
</form>