<h1>Pretend to post a photo</h1>

<script type="text/javascript" src="/js/jquery.transloadit2.js"></script>
<script type="text/javascript">
   	// We call .transloadit() after the DOM is initialized:
   	function loadCurrentPhotos(){
		$.ajax({
			  url: "http://localhost:8080/pictures/all/SianJason",
			  success: function(res){
			  	var currentPhotos = $('#photoWrapper .scroller img');
			  	var photos = '';
			  	var exists = false;
			  	var photosToAdd = false;
			  	var test = '';
			  	for(var i=0, len=res.length; i<len; i++){
			  		exists = false;
			  		if(res[i].image.thumb){
			  			test = res[i].image.thumb[0];
			  		}
			  		for(var j=0, k=currentPhotos.length; j<k; j++){
			  			if(test === $(currentPhotos[j]).attr('data-thumb')){
			  				exists = true;
			  			}
			  		}
			  		if(exists===false){
			  			photos += '<img src="' + res[i].image.thumb + '" width="100" height="100" data-current="thumb" data-thumb="' + res[i].image.thumb + '"  data-small="' + res[i].image.small + '" data-original="' + res[i].image.original + '">';
			  			photosToAdd = true;
			  		}
			  	}
			  	if(photosToAdd){
			  		$('#photoWrapper .scroller').prepend(photos);
			  		setTimeout(function () {
						myScroll.refresh();
					}, 0);	
			  	}
			  }
			});
	}

	function startPolling(){
		var t = setInterval(function(){
			loadCurrentPhotos();
		}, 10000);
	}

   	$(document).ready(function() {
   		loadCurrentPhotos();
   		startPolling();

		$('#photoWrapper .scroller img').live('click', function(){

			var $this = $(this);

			console.log($this.clientWidth);

			if($this.data('current') === 'thumb'){
				$this.attr('src',$this.data('small'));
				$this.attr('height','');
				$this.attr('width','300');
				$this.data('current','small');
			}else{
				$this.attr('src',$this.data('thumb'));
				$this.attr('height','100');
				$this.attr('width','100');
				$this.data('current','thumb');
			}

		});

    	// Don't forget this goes inside your document.ready
		$('#newpicture').transloadit({
		  modal: false,
		  autoSubmit: false,
		  wait: true,
		  onStart: function(assembly) {
		  	$('#progress .bar').css('width',"0%");
		  	$('#progress').show();
		  },
		  onProgress: function(bytesReceived, bytesExpected) {
		    var percent = (bytesReceived / bytesExpected * 100).toFixed(0);
		    $('#progress .bar').css('width',percent+"%");
		  },
		  onError: function(assembly) {
		    alert(assembly.error+': '+assembly.message);
		    $('#progress').hide();
		  },
		  onSuccess: function(assembly) {
		  	// Do an AJAX post with the result to /pictures/add
		  	// Submit the {results} into a new picture object

		  	var picture = {
		  		image: {
		  			meta:  assembly.results[':original'][0]['meta'],
		  			original: assembly.results[':original'][0]['url'],
			  		small:  assembly.results['small'][0]['url'],
			  		thumb:  assembly.results['thumb'][0]['url'], 
			  	},
		  		caption: $('#newpicture #caption').val(),
		  		uuid: '123456789',
		  		created: new Date()
		  	};

		  	$('#progress').hide();

		  	$.ajax({
			  url: "/pictures/add/SianJason",
			  data: picture,
			  type: "POST",
			  success: function(res){
			  	console.log(res);
			  }
			});
		  	
		  }
		});

		// Event handler to submit form
		$('#button').click(function(){
			$('#newpicture').submit();
			return false;
		});
   });
</script>

<div id="progress" style="width: 200px; padding: 2px; background: blue; height: 10px; border-radius: 10px; display: none;">
	<div class="bar" style="-webkit-transition: all 1s ease-in-out; transition: all 1s ease-in-out; width: 100%; background: red; height: 10px; border-radius:10px;"></div>
</div>

<form id="newpicture" name="newpicture" method="POST" action="http://api2.transloadit.com/assemblies" enctype="multipart/form-data">
	<input type="hidden" name="params" value="{&quot;auth&quot;:{&quot;key&quot;:&quot;121f5af949ab45b6a29924e5aa4e9520&quot;},&quot;template_id&quot;:&quot;0a31cdf7aa7b4acfa1508da329d0075d&quot;,&quot;redirect_url&quot;:&quot;/fake&quot;}" />
	<label for="name">Name</label>
	<input id="name" name="name" type="text" value="SianJason">
	<label for="photo">Photo</label>
	<input id="photo" type="file" name="photo">
	<label for="caption">Caption</label>
	<input id="caption" name="caption" type="text">
	<button type="submit">Add</button>
</form>
<a id="button" href="">Submit form</a>

<div id="photoWrapper">
	<div class="scroller"></div>
</div>