<h1>Pretend to post a photo</h1>

<form id="photo" name="photo" method="post" action="/fake">
	<label for="name">Name</label>
	<input id="name" name="name" type="text">
	<button type="submit">Add</button>
</form>