<h1>Pretend to post a photo</h1>

<script type="text/javascript" src="/js/jquery.transloadit2.js"></script>
<script type="text/javascript">
   	// We call .transloadit() after the DOM is initialized:
   	$(document).ready(function() {
    	// Don't forget this goes inside your document.ready
		$('#newpicture').transloadit({
		  modal: false,
		  autoSubmit: false,
		  wait: true,
		  onStart: function(assembly) {
		  	$('#progress .bar').css('width',"0%");
		  	$('#progress').show();
		  },
		  onProgress: function(bytesReceived, bytesExpected) {
		    var percent = (bytesReceived / bytesExpected * 100).toFixed(0);
		    $('#progress .bar').css('width',percent+"%");
		  },
		  onError: function(assembly) {
		    alert(assembly.error+': '+assembly.message);
		    $('#progress').hide();
		  },
		  onSuccess: function(assembly) {
		  	// Do an AJAX post with the result to /pictures/add
		  	// Submit the {results} into a new picture object
		  	console.log(assembly);
		  	$('#progress').hide();
		  }
		});

		// Event handler to submit form
		$('#button').click(function(){
			$('#newpicture').submit();
			return false;
		});
   });
</script>

<div id="progress" style="width: 200px; padding: 2px; background: blue; height: 10px; border-radius: 10px;">
	<div class="bar" style="-webkit-transition: all 1s ease-in-out; transition: all 1s ease-in-out; width: 100%; background: red; height: 10px; border-radius:10px;"></div>
</div>

<form id="newpicture" name="newpicture" method="POST" action="http://api2.transloadit.com/assemblies" enctype="multipart/form-data">
	<input type="hidden" name="params" value="{&quot;auth&quot;:{&quot;key&quot;:&quot;121f5af949ab45b6a29924e5aa4e9520&quot;},&quot;template_id&quot;:&quot;0a31cdf7aa7b4acfa1508da329d0075d&quot;,&quot;redirect_url&quot;:&quot;/fake&quot;}" />
	<label for="name">Name</label>
	<input id="name" name="name" type="text" value="SianJason">
	<label for="photo">Photo</label>
	<input id="photo" type="file" name="photo">
	<label for="caption">Caption</label>
	<input id="caption" name="caption" type="text">
	<button type="submit">Add</button>
</form>
<a id="button" href="">Submit form</a>