<!doctype html>
<html>
    <head>
		<title>Weddings Pics</title>

		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />

        <!-- CSS -->
        <link href="/css/style.css" rel="stylesheet" type="text/css" />

        <!-- JS -->
        <script src="js/jquery.min.js"></script>

    </head>

    <body>
        <%- body %>
    </body>
</html>