<!doctype html>
<html>
    <head>
		<title>Sian & Jason's Wedding 11-11-11</title>

		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />

        <!-- CSS -->
        <link href="/css/normalize.css" rel="stylesheet" type="text/css" />
        <link href="/css/main.css" rel="stylesheet" type="text/css" />

        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

    </head>

    <body>
        <%- body %>
    </body>
</html>