<h1>Wedding Pics</h1>
<p>Welcome to Wedding Pics, the app which allows your guests to collaborately take photos at your wedding</p>
<div><a href="/events/add">Add an event</a></div>
<div><a href="/contact">Contact</a></div>